@page "/"

<PageTitle>Proyecto Final V&iacute;ctor Manuel Est&eacute;vez Hern&aacute;ndez</PageTitle>

<h1>Bienvenido a mi sistema de inscripciones</h1>

Este sistema est&aacute; basado en las inscripciones de un liceo secundario.
<SurveyPrompt Title="How is Blazor working for you?" />
